:root {
	--purple: #0f0d21;
	--purple-light: #30192d;
	--blue: #5c65c0;
	--blue-light: #00b4fc;
	--text-color: #b5b5b5;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Fira Code', monospace;
}

body {
	background: linear-gradient(45deg, var(--purple), var(--purple-light));
}

footer {
	text-align: center;
	padding: 1rem;
	color: var(--text-color);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
}

input, textarea {
	padding: 0.75rem;
	background-color: rgba(255, 255, 255, 0.022);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: var(--text-color);
	font-family: 'Fira Code', monospace;
	border-radius: 5px;
}

button {
	padding: 0.75rem;
	color: #000;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 5px;
	background: linear-gradient(45deg, #4c7bf6, #a61342);
	color: #fff;
}

button:hover, #cursosRealizados a {
	opacity: 0.8;
} 

li {
	list-style: none;
}

#cursosRealizados a {
	text-decoration: none;

	padding: 0.1rem;
	font-weight: bold;
	border: none;
	transition: background-color 0.3s;
	border-radius: 5px;
	background: linear-gradient(45deg, #495154, #10251e61);
	color: #fff;
}

.download-btn a {
	text-decoration: none;
	color: #fff;

}
.container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	min-height: 100%;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.profile-card {
	background: #111;
	width: 500px;
	padding: 3rem;
	border-radius: 10px;
	min-height: 400px;
	position: relative;
	color: #fff;
	margin: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.profile-card .profile-pic {
	margin-top: 15px;
	overflow: hidden;
}

.profile-card .profile-pic img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.profile-card .profile-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.profile-details .intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-details .intro h2 {
	margin-top: 20px;
}

.profile-details .intro h4 {
	background: #222;
	font-weight: 400;
	border-radius: 4px;
	padding: 5px 10px;
	margin: 8px;
}

.profile-details .intro .social {
	margin-top: 10px;
	margin-bottom: 25px;
}

.profile-details .intro .social i {
	color: #ddd;
	font-size: 16px;
	background-color: #222;
	margin: 5px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
}

.profile-details .intro .social i:hover {
	transform: scale(1.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-card .contact-info, .about-me {
	background-color: #1d1d1d;
	padding: 15px;
	border-radius: 10px;
	width: 100%;
}

.about-me {
	margin-top: 20px;
}

.profile-details .contact-info .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 0;
	margin-bottom: 10px;
}

.contact-info .row .icon {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 5px;
	background-color: #111111eb;
	text-align: center;
	color: #fff;
	transition: 0.5s;
}

.row .icon:hover {
	transform: scale(1.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.row .content {
	min-width: 70%;
}

.row .content span {
	font-size: 12px;
}

.download-btn {
	background: linear-gradient(45deg, #4c7bf6, #a61342);
	color: #fff;
	padding: 1rem 3rem;
	border-radius: 30px;
	margin-top: 1.5rem;
	border: none;
}

.main-container {
	background-color: #111111eb;;
	max-width: 1000px;
	padding: 2rem 3rem;
	border-radius: 10px;
}

.main-container h2 {
	color: #f2f2f2;
	margin-bottom: 1.1rem;
	position: relative;
	display: inline-block;
	font-size: 2rem;
	margin: 0.5rem 0;
}

.main-container h2::after {
	position: absolute;
	top: 50%;
	right: -50%;
	width: 45%;
	height: 3px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.skill-button {
	background: linear-gradient(45deg, #644cf6b8, #1b25e22e);
	margin: 5px 0;
	padding: 5px;
	border-radius: 10px;
	color: #f2f2f2;
}
.project, .experience {
	width: 100%;
	background: #1d1d1d;
	color: var(--text-color);
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
}

.experience p, .experience li{
	margin-top: 5px;
}

.main-container .box {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #333;
	padding: 1rem;
	margin: 1rem;
	flex-direction: column;
}

.container-cursos {
	width: 100%;
	padding: 10px;
	color: var(--text-color);
	margin-top: 15px;
	background: #111;
	border-radius: 5px;
}

.main-container .box .desc {
	width: 100%;
	padding: 10px;
	color: var(--text-color);
	margin-top: 15px;
	background: #1d1d1d;
	border-radius: 5px;
}

.main-container .box .desc h3 {
	color: #f2f2f2;
	margin-bottom: 3px;
}
#exp h3 {
	color: #f2f2f2;
	margin-bottom: 3px;
}
.main-container .box .desc p {
	margin-bottom: 5px
}
#cursosRealizados {
	display: none;
	margin-top: 10px;
}

#cursosRealizados button {
	margin-right: 10px;
	margin-bottom: 10px;
}
#message {
	width: 300px;
	height: 85px;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f296;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
.navbar a:hover {
	opacity: 50%;
}

.navbar .icon {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 14px 20px;
	cursor: pointer;
}


@media(max-width: 768px) {
	.container {
		justify-content: center;
	}
	.main-container {
		width: 1005;
		max-width: 400px;
		padding: 1rem;
		margin: 1rem;
	}
	.main-container h1 {
		font-size: 2.2rem;
	}
	.main-container .work {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4,auto);
	}
	.navbar a { display: none; float: none; text-align: left; }
	.navbar.responsive a {
		display: block;
	}
	.navbar .icon {
		display: block;
	}
}
